{% extends "layouts/default.html" %}
{% block title %}Boxes - The Warehouse{% endblock %}
{% block content %}
<div class="container py-2">
  <div class="row">
    <div class="col-10">
    <h1>Boxes</h1>
    </div>
    <div class="col-2">
      <a class="btn btn-primary" href="/boxes/new">New Box</a>
    </div>
  </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% include "_table-header.html" :url "/boxes" :column "contents" :title "Contents" %}</th>
      <th>{% include "_table-header.html" :url "/boxes" :column "value" :title "Value" %}</th>
      <th>Warehouse</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for box in boxes %}
    <tr>
      <td>{{box.contents}}</td>
      <td>{{box.value}}</td>
      <td><a href="/warehouses/{{box.warehouse-id}}">{{box.warehouse.location}}</a></td>
      <td><a class="btn btn-primary btn-sm" href="/boxes/{{box.id}}/edit">{% include "svgs/pencil-square.html" %}</a></td>
      <td><a class="btn btn-danger btn-sm" href="/boxes/{{box.id}}/delete">{% include "svgs/trash.html" %}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
