{% extends "layouts/default.html" %}
{% block title %}The Warehouse - Common Lisp{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">The Warehouse</h1>
        <p class="col-md-8 fs-4">A sample Warehouse management application built in Common Lisp using <a href="https://github.com/fukamachi/caveman">Caveman</a> and
          <a href="https://github.com/fukamachi/mito">Mito</a>.</p>
        <a href="/warehouses" class="btn btn-primary">Get Started</a>
      </div>
    </div>
{% endblock %}
