{% extends "layouts/default.html" %}
{% block title %}Warehouses - The Warehouse{% endblock %}
{% block content %}
<div class="container py-2">
<h1 class="display-6 fw-bold">New Warehouse</h1>
<form action="/warehouses" method="POST">
  <div class="mb-3">
    <label class="form-label" for="txtLocation">Location</label>
    <input class="form-control" name="location" type="text" value=""/>
  </div>
  <div class="mb-3">
    <label class="form-label" for="txtLocation">Capacity</label>
    <input class="form-control" name="capacity" type="number" value=""/>
  </div>
  <button class="btn btn-primary">Create New Warehouse</button>
  <a href="/warehouses" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
